
/* decoración */

/*index y resto*/

header{
background-color: #EFE9DC;
display: flex;
justify-content: center;
align-items: left;
padding: 40px 0;

}
nav {
  display: flex;
  justify-content: center; /* Centrar todo el contenido */
  gap: 40px; /* Espacio entre los enlaces */
}
nav a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
nav a:hover{
  text-decoration: none;
  color: rgba(255, 14, 14, 0.418);
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 1px;
  
}

body{
    text-align: justify;
    font-size: medium;
    font-family: sans-serif;
}
footer{
display: flex;
    background-color: rgba(93, 160, 93, 0.527);
   font-size: smaller;
   padding-left: 2rem;
   text-align: left;
      
}

/*Hacia abajo otras decoraciones distintas a la del index*/

.btnsubir{
    position: fixed;
    bottom: 20px; /* distancia desde abajo */
    right: 20px;  /* distancia desde la derecha */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db44;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  opacity: 90%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.5s ease-in-out;
}
